@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
    font-family: "Poppins", serif;
    font-style: normal;
    font-weight: normal;
}
.ec-product-inner {
    position: relative;
}

.ec-product-inner:hover {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    background-color: #fff;
    -webkit-box-shadow: 1px 2px 14px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 2px 14px rgb(105 45 145 / 21%);
    transform: translate(0px, -1.5%);
}

.ec-about-sec {
    background: #f8f8f8 !important;
}

.sub-menu {
    max-height: 200px !important;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #692d91;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #692d91;
}

a {
    font-family: "Poppins", sans-serif;
}

.sec-background {
    background: #f8f8f8;
}

.detail {
    margin-bottom: 0px;
}

.newsletter {
    padding: 35px 0px !important;
}

.ec-compare-inner {
    padding: 0px 50px;
}

.main-banner {
    padding: 0px 50px;
}
.ec-footer {
    padding: 0px 50px;
}

.ec-pro-variation
    .ec-pro-variation-inner.ec-pro-variation-size
    .ec-pro-variation-content
    .active {
    /* background: red !important; */
    border: none !important;
    background: #ff909d !important;
    color: white !important;
}

.ec-pro-variation
    .ec-pro-variation-inner.ec-pro-variation-size
    .ec-pro-variation-content
    li:hover {
    background-color: #ff909d !important;
}

.size-option :active {
    background: black;
}

.single-pro-content .ec-single-title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
}

.single-pro-content .ec-single-price span.new-price {
    font-weight: 400 !important;
}
